<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="display-2">{{ Title }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" id="exportButton" class="btn btn-sm btn-outline-primary">Export All JSON</button>
        </div>
    </div>
</div>