<li class="nav-item align-items-center" aria-current="page">
    <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#{{ id LinkTo }}">
        <i class="{{ Icon }}"></i>
        {{ Name }}
    </a>
</li>